@charset "utf-8";
/* CSS Document */

.cycle-slideshow img{
	max-width: 100%;
	width: 99.2%;
	height: 300px;
	}
	
.cycle-slideshow{
	max-width: 101%;
	width: 100.8%;
	display: block;
	position: relative;
	z-index: 0;
	}


@media (max-width:800px){
.cycle-slideshow{
	display: block;
	position: relative;
	z-index:-1;
	}

.cycle-slideshow img{
	height:200px;
	}

	}